<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.first_name %></h1>
    <p>
      Task completion email.
    </p>

    
	<h1>Skus-Combinations</h1>
	<table>
	  <thead>
	    <tr>
	      <th>Denomination</th>
	      <th>Combination</th>
	    </tr>
	  </thead>

	  <tbody>
	    <%  @records.each do |sku| %>
	      <tr>
	        <td><%= sku.denomination %></td>
	        <td><%= sku.combination %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>


  </body>
</html>